<!doctype html>
<link rel="stylesheet" href={{ url_for("static", filename="style.css") }} type="text/css">
<title>Image Viewer</title>
<style>
img {
    max-width: 100%;
}
video {
    max-width: 100%;
}
</style>

<a href="/"><h2>Image Viewer</h2></a>

<p>Enter the directory containing images you want to view into the box below</p>

<form method="POST">
  <a href={{ parent_link }}>Back</a>
  <label for="path">Directory: </label>
  <input name="path" value={{ path }}>
  <label for="recursive">Recursive</label>
  {% if recursive %}
  <input name="recursive" type="checkbox" checked>
  {% else %}
  <input name="recursive" type="checkbox">
  {% endif %}
  <input type="submit" value="View">
</form>

{% if listdir %}
<ul>
{% for item in listdir %}
<li><a href={{ item[0] }}>{{ item[1] }}</a></li>

{% endfor %}
</ul>
{% endif %}

{% if vid_paths %}
{% for vid_path in vid_paths %}
<video controls>
  <source src={{ vid_path[0] }} type={{ vid_path[1] }}>
  Your browser does not support the video tag.
</video>
{% endfor %}
{% endif %}

{% if img_paths %}
{% for img_path in img_paths %}
<a href={{ img_path }}><img src={{ img_path }} loading="lazy"></a>
{% endfor %}
{% endif %}
